click==8.1.7
markdown-it-py==3.0.0
mdurl==0.1.2
nodeenv==1.8.0
numpy==1.26.4
PyAudio==0.2.14
Pygments==2.17.2
pyright==1.1.355
rich==13.7.1
ruff==0.3.3
tqdm==4.66.2
typer==0.9.0
typing_extensions==4.10.0
